<button type="button" class="btn btn-dark add_lead_modal_btn" (click)="showAddModal()">Add Lead</button>
<table class="table leads_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile Num</th>
      <th scope="col">Loctaion Type</th>
      <th scope="col">Loctaion String</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
   
    <tr *ngFor="let lead of lead_data">
      <td>{{lead.first_name+" "+lead.last_name}}</td>
      <td>{{lead.email}}</td>
      <td>{{lead.mobile}}</td>
      <td>{{lead.location_type}}</td>
      <td>{{lead.location_string}}</td>
      <td>
          <button type="button" class="btn btn-dark update_lead_modal_btn" (click)="showUpdateModal(lead)">Mark Update</button>
          
          <button type="button" class="btn btn-dark delete_lead_modal_btn" (click)="showDeleteModal(lead.id)" >Delete</button>
        </td>
    </tr>
   
  </tbody> 
</table>



<!-- Add Lead  modal -->
<div class="modal fade " id="addLeadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <form class="add_lead_form" (submit)="addNewLead()" >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Lead</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col">
                    <div class="form-group ">
                      <label for="exampleInputEmail1">First Name</label>
                      <input type="text" [(ngModel)]="new_lead.first_name" required name="first_name"class="form-control"  >
                    </div>
                    </div>
                    <div class="col">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Last Name</label>
                      <input type="text" [(ngModel)]="new_lead.last_name" required name="last_name"class="form-control" >
                    </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">
                    <div class="form-group ">
                      <label for="exampleInputEmail1">Email Address</label>
                      <input type="text" [(ngModel)]="new_lead.email" required class="form-control" name="email" >
                    </div>
                    </div>
                    <div class="col">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Mobile</label>
                      <input type="text" [(ngModel)]="new_lead.mobile" required name="mobile" class="form-control" >
                    </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col">
                    <div class="form-group ">
                      <label for="exampleInputEmail1">Location Type</label>
                      <!-- <input type="text" [(ngModel)]="new_lead.location_type" required class="form-control" name="location_type" > -->
                      <select class="custom-select" name="location_type"  [(ngModel)]="new_lead.location_type"id="inputGroupSelect03" aria-label="Example select with button addon">
                          <option selected>Country</option>
                          
                        </select>
                    </div>
                    </div>
                    <div class="col">

                    <div class="form-group">
                      <label for="exampleInputPassword1">Location String</label>
                      <input type="text" [(ngModel)]="new_lead.location_string" required class="form-control" name="location_string">
                    </div>
                    </div>
                    </div>
                    
                    <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn " data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-dark add_lead_btn" [disabled]="isValid()">Save</button>
            </div>
         </form>
      </div>
    </div>
  </div>




  <!-- ADD MARK UPDATE MODAL-->
  <div class="modal fade " id="updateLeadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="update_lead_form" (submit)="updateLead()">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mark Communication</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group ">
                  <label for="exampleInputEmail1">Communication</label>
                  <textarea class="form-control" [(ngModel)]="lead_communication"  name="communication"></textarea>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn " data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-dark update_lead_btn">Save</button>
          </div>
        </form>

        </div>
      </div>
  </div>



  <!--add DELETE LEAD MODAL-->
  <div class="modal fade " id="deleteLeadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="delete_lead_form" (submit)='deleteLead()'>

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Do you wish to delete this lead?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer ">
              <button type="submit" class="btn btn-danger delete_lead_btn"  >Delete</button>
              <button type="button" class="btn btn-dark " data-dismiss="modal">Cancel</button>
          </div>
          </form>
        </div>
      </div>
  </div>






 